.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .logo img {
    height: 40px;
  }
  
  .icons img {
    margin-left: 20px;
    height: 25px;
    cursor: pointer;
  }