

<header class="w-full flex justify-between items-center p-4 bg-red-700 text-white">
    <div class="logo">
      <img src="logo.jpg" alt="Company Logo" class="w-12 mx-4">
    </div>
    <div class="flex space-x-2 items-center">
      <!-- <fa-icon [icon]="faBell" class="w-6 cursor-pointer"></fa-icon> -->
      <div class="relative inline-block mr-2 ">
        <fa-icon [icon]="faBell" class="border border-red-300 px-2 py-1 bg-red-300 rounded-md"></fa-icon>
        <span class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white rounded-full text-xs px-1 py-1 font-bold">53</span>
      </div>
      <fa-icon [icon]="faGlobe" class="w-6 cursor-pointer"></fa-icon>
      <img src="guy.jpg" alt="Company Logo" class="w-8 h-8 border-gray-300 rounded-full">
      
    </div>
  </header>
  