<footer class="flex  border-t border-blue-300 items-center text-center p-4 justify-evenly bg-blue-100 text-black bottom-0 w-full">
    <div class="flex flex-col gap-1 items-center">
      <img src="logo.jpg" alt="Company Logo" class="w-12 mx-4"> <p class="text-gray-400"> © {{ currentYear }} </p>
    </div>
    <div class="flex flex-col gap-1">
      
      <h1 class="font-bold">Version </h1>
      <p class="text-gray-400">2.2.2</p>
      
    </div>
    <div>
      <h1 class="font-bold">About</h1>
      <p class="text-gray-400"> Contact us</p>
      <p class="text-gray-400"> Privacy</p>
      <p class="text-gray-400"> Terms of Use</p>
    </div>
  </footer>
  